$color-yellow: #ffff00;
$color-yellow-alt: #f8f184;
$color-blue: #19587d;
$color-red: #b11313;
$color-black: #000;
$color-black-alt: #0d0e09;
$color-gray: #c4c4c4;
$color-white: #fff;
$color-gradient-00: #eddebf;
$color-gradient-11: #890008;
$color-ligne: #bcbbbd2a;
