@font-face {
  font-family: 'rajdhani';
  src: url(../police/Rajdhani-Regular.ttf);
}

@font-face {
  font-family: 'space-grotesk';
  src: url(../police/SpaceGrotesk-VariableFont_wght.ttf);
}

%titre {
  font-family: 'rajdhani';
  font-weight: 500;
  font-size: 36px;
}
