@import '../component/navbar';
@import '../component/footer';

// Design de la partie Hero
#hero {
  background-position: top center;
  background-image: url(../Illustrations/Bathome1.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(130vh - 30px);

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(-1000px) scale(0.1);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }
  .content {
    animation: fadeInRight 1500ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding-top: 140px;
    .titre {
      @extend %titre;
      margin-bottom: 40px;
    }
  }
  .fleche {
    display: block;
    margin: 0 auto;
    width: 80px;
    margin-top: 20rem;
  }
}

// Design de la partie batman Personnage

#batman-cinema,
#batman-nemesis,
#batman-allies,
#batman-justice-league {
  margin-top: 40px;
  .batman-personnage {
    display: flex;
    justify-content: space-between;
    div {
      &:hover {
        transform: scale(1.1);
      }
    }
    .personnage-info {
      text-align: center;
      margin-bottom: 4rem;
    }
  }
  .titre {
    text-transform: uppercase;
    font-weight: bold;
    margin: 30px 0;
  }
  .description {
    margin-bottom: 40px;
    text-align: justify;
    width: 85%;
    line-height: 22px;
    font-size: 1.1rem;
  }
}

#batman-nemesis {
  .nemesishead {
    display: flex;
    align-items: center;
    img {
      width: 20%;
    }
  }
}

// Partie Design MULTIMEDIA

#multimedia {
  button {
    position: relative;
    top: 150px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &.right {
      left: 92%;
    }
  }
  .slider-multimedia {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 40px auto;
    .slider-image {
      width: 100%;
    }
  }
  .slider-content {
    padding: 15px;
    background: linear-gradient(
      160deg,
      rgba(237, 222, 191, 0.4),
      rgba(25, 88, 125, 0.4) 60%
    );
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    p {
      font-size: 14px;
    }
    .yellow {
      color: #ffff00;
      margin-left: 10px;
    }
  }
}

// Design de la partie Contact - Formulaire

#contact {
  padding: 60px 0;
  background: linear-gradient(
    143deg,
    rgba(237, 222, 191, 0.4),
    rgba(25, 88, 125, 0.4) 80%
  );
  .form {
    width: 50%;
    margin: auto;
    h2 {
      font-family: 'space-grotesk';
      text-align: center;
      font-size: 2.3rem;
      margin-bottom: 30px;
      letter-spacing: 4px;
    }
    .title {
      font-size: 18px;
      display: block;
      margin: 20px 0;
    }
    input[type='email'],
    textarea {
      display: block;
      width: 100%;
      background-color: transparent;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid $color-white;
      padding: 10px 0;
      margin-top: 20px;
      outline: none;
      color: $color-white;
    }
    .menu-btn,
    .news {
      margin-top: 15px;
      border-bottom: 1px solid $color-white;
    }
    .menu-btn {
      #dropdownlist {
        width: 100%;
        background: transparent;
        border: none;
        color: white;
        font-size: 16px;
        font-weight: 100;
        margin-top: 15px;
        font-family: 'space-grotesk';
        .c-bg {
          background-color: black;
        }
      }
    }
    .icon img {
      transform: rotate(90deg);
      width: 19px;
      margin-left: 55px;
    }
    .btn-group {
      padding: 10px;
      display: flex;
      justify-content: space-around;
      label {
        &.btnform {
          width: 150px;
          border: 2px solid;
          border-image: linear-gradient(
              45deg,
              rgba(237, 222, 191, 0.4),
              rgba(25, 88, 125, 0.4)
            )
            1;
          font-size: 20px;
          padding: 10px;
          margin-top: 15px;
          text-align: center;
          cursor: pointer;
          &:hover {
            background-color: $color-blue;
          }
        }
      }
    }
    input[type='radio'] {
      opacity: 0;
      position: absolute;
      width: 0;
      height: 0;
    }
    [type='submit'] {
      margin: 35px auto;
      display: block;
      width: 200px;
      border: none;
    }
    ::placeholder {
      color: $color-gradient-00;
      font-size: 15px;
    }
  }
}

// Design partie des citations

#citations {
  margin: 90px;
  .citation-carte {
    text-align: center;
    width: 50%;
    margin: 30px auto;
    .carte-auteur {
      padding: 40px;
      color: #c4c4c4;
      font-family: 'radjhani';
      font-size: 18px;
    }
  }
  .guillemet-close {
    float: right;
  }
}
