footer {
  margin-top: 200px;
  .text-footer {
    text-align: center;
    font-size: 14px;
  }
  .social-footer {
    text-align: center;
    margin-top: 40px;
    .social-item {
      padding: 15px;
    }
  }
}
