@import '../base/colors';
@import '../base/typo';
@import '../base/global';

nav {
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    a {
      display: block;
      padding: 10px;
      text-decoration: none;
      font-weight: 500;
      font-size: 25px;
      color: $color-white;
      &:hover {
        color: $color-yellow;
      }
    }
  }
  .menu-mobile {
    opacity: 0;
  }
}
