.scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  right: 50px;
  top: 180px;
  img {
    margin-top: 20px;
  }
  .social {
    width: 30%;
  }
}

/*LES LIGNES*/

.up-bar {
  position: absolute;
  left: 102px;
  top: 132px;
  width: calc(100vw - 218px);
  border-top: 2px solid $color-ligne;
}

.left-bar,
.right-bar {
  position: absolute;
  border-left: 2px solid $color-ligne;
  height: 1100vh;
}

.left-bar {
  left: 102px;
}

.right-bar {
  right: 102px;
}
